.resizeable{
    height: 100%;
    width: 100%;
    background: pink;
    font-size: 40px;
    div{
        border: 1px solid red;
        height: 12em;
        font-size: 0.3em;
        span{
            color: aliceblue;
            font-size: calc(0.5em / 0.3);
        }
    }
    p{
        width: 7em;
        color: blueviolet;
        font-size: 1em
    }
}